<div class="current">
  <h1>Daily Scrum Notes</h1>
  <app-note [note]="notesService.current"></app-note>
  <!-- <Note
    value={note}
    onAddYesterday={addYesterday}
    onAddToday={addToday}
    onAddBlocker={addBlocker}
    onDeleteYesterday={deleteYesterday}
    onDeleteToday={deleteToday}
    onDeleteBlocker={deleteBlocker}
  /> -->
</div>

<div class="bottom">
  <!-- {showNew() && <button onClick={newNote}>New</button>}
  {history.length > 0 && (
    <>
      <button onClick={() => setShowHistory(!showHistory)}>
        {showHistory
          ? "Hide previous notes"
          : `Show previous notes (${history.length})`}
      </button>
      {showHistory && <History value={history} />}
    </>
  )} -->
</div>